.inputEnter {
    font-family: "Montserrat";
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    font-size: 15px;
    width: 7em;
    height: 1em;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.inputContainer {
    background-color: var(--color-pink);
    width: 996px;
    height: 96px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3.5fr 1.5fr 3fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    padding: 0px 30px;
    justify-content: left; 
    align-items: center; 
    gap: 20px;
    margin: 0px auto 5px;
    border: 4px double var(--color-white);
  }

  .inputLable {
    color: var(--color-white);
    font-size: var(--text-size-medium);
    font-weight: 800;
  }

.inputSaveButton {
    justify-self: end;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.inputSaveButton:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--color-pinklite);
  }

  .inputSaveButton:active {
    box-shadow: 2px 2px 7px var(--color-pinklite);
  }